label span {
	color: red;
}

.form-list-select {
	float: left;
    width: 60%;
    margin: 1px;
}

.form-list-button {
	width: 35%;
    float: left;
}

a.fwbold {
	font-weight: bold;
}

.show-edit-delete {
	display: none;
}

.showAc:hover .show-edit-delete {
	display: block;
}

.wrap-image {
	margin-bottom: 10px;
	position: relative;
}

.wrap-image:hover .icon-image {
	display: block;
}

.icon-image {
	cursor: pointer;
	position: absolute;
    top: 2px;
    right: 3px;
    background: #fff;
    display: none;
    border-radius: 10px;
}

.icon-image > img {
	float: right;
}

.image-system {
	cursor: pointer;
}

.image-system:hover {
}

.list-img {
	width: 50px;
    height: 60px;
    margin: 0px 15px 5px 0px;
}

#ul-img-lib {
	list-style: none; 
	margin: 10px 0px; 
	max-height: 500px; 
	overflow: auto;
}

.li-img-lib {
	float: left;  
	margin: 10px; 
	border: 1px solid #ccc;
}

.div-checkbox {
	float:left; width: 30px; text-align: center; line-height: 150px;
}

.float-left {
	float: left;
}

.color-product {
	display: block;
    width: 20px;
    height: 20px; 
    float: left;
    margin-right: 10px;
    border: 1px solid #000;
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url("../img/progressbar.gif") !important;
  filter: none;
}
.fileupload-process {
  float: right;
  display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/loading.gif") center no-repeat;
  background-size: contain;
}
.files audio,
.files video {
  max-width: 300px;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}









